/* You can add global styles to this file, and also import other style files */
nav.admin {
    background: purple;
    position: fixed;
    width: 150px;
    top: 60px;
    left: 0;
    margin-bottom: 0;
}


nav.admin li a {
    color: white !important;
    font-weight: bold;
}

div.space {
    padding-left: 180px;
}